// --- header footer
header, footer {
  position: absolute;
  display: flex;
  height: 80px;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 0 4%;
  align-items: center;
  justify-content: space-between;

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $main;
  }

  .menus {
    a {
      margin-left: 20px;
      transition: .4s;
      &:hover, .active {
        color: $bluelight;
        border-bottom: 1px solid $bluelight;
      }
    }
  }

  .to_home {
    position: relative;
    background: $main;
    width: 100px;
    height: 80px;
    a {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      font-size: 1em;
      transform: translate(-50%, -50%);
    }
  }
}

footer {
  position: relative;
  justify-content: center;
  background: $main-op;
  a {
    font-size: 10px;
    color: $white;
  }
}

.portfolio {
  position: relative;
}

// --- homepage
.home {
  position: relative;
  display: flex;
  width: 100%;
  padding: 100px 12% 0;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  
  .box-text {
    width: 46%;
    .btn-porto {
      margin-top: 20px;
    }
  }
  .box-img {
    width: 48%;
    text-align: center;
    img {
      width: 75%;
    }
  }

  &-socials {
    position: relative;
    display: flex;
    padding-top: 80px;
    a {
      margin: 8px;
      font-size: 24px;
      color: $main;
      transition: .5s;
      &:hover {
        color: $bluelight;
      }
    }
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  canvas {
    position: absolute;
    z-index: -1;
  }
}

// --- about
.about {
  position: relative;
  min-height: 100vh;
  padding: 100px 12%;
  mix-blend-mode: difference;

  &-wrap {
    display: flex;
    padding: 80px 0;
    align-items: center;
    justify-content: space-between;

    .about-img {
      width: 46%;
      text-align: center;
      transform: rotateY(180deg);
      img {
        width: 80%;
      }
    }
    &.--b {
      align-items: flex-start;
      padding-bottom: 0;
    }
    .about-text {
      width: 48%;

    }
  }

  .education {
    width: 46%;
    h3 {
      margin-bottom: 30px;
    }
    .card-edu {
      position: relative;
      display: flex;
      padding: 20px 0;
      align-items: center;
      img {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: red;
      }
      .box-text {
        padding-left: 20px;
        .edu-title {
          font-weight: 600;
          color: $main;
        }
        .since {
          font-size: 10px;
          padding-top: 10px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          border-top: 1px solid $main-op;
        }
      }
    }
  }

  .ability {
    width: 46%;
    h3 {
      margin-bottom: 50px;
    }
    .card-ability {
      position: relative;
      display: flex;
      width: 100%;
      margin: 20px 0 30px;
      align-items: center;
      border-bottom: 1px solid $bluelight;
      justify-content: space-between;
      .abi-title {
        font-weight: 600;
        color: $main;
        font-size: 12px;
        padding-left: 15px;
        padding-bottom: 10px;
        letter-spacing: 1.5px;
      }
      .percent {
        font-weight: 600;
        padding-right: 15px;
      }
      .bar {
        position: absolute;
        height: 15%;
        bottom: 0;
        z-index: -1;
        background: $bluelight;
      }
    }
  }

  .neumorphism {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}

// --- project
.project {
  position: relative;
  padding: 100px 8%;

  &-wrap {
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between;
  }

  &-tag {
    padding: 60px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      margin: 5px;
      cursor: pointer;
    }
  }

  &-wrap {
    flex-wrap: wrap;
    padding: 100px 0 50px;
    justify-content: center;
  }
}

.card-project {
  position: relative;
  cursor: pointer;
  width: 30%;
  height: 250px;
  margin: 1.5%;
  transition: .5s;
  box-shadow: $shadow;

  .box-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      transition: .5s;
      object-fit: cover;
      object-position: center;
    }
  }
  .box-float {
    position: absolute;
    display: flex;
    z-index: 0;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    transition: .5s;
    background: $black-op;
    flex-direction: column;
    justify-content: space-between;

    .wrap {
      display: flex;
    }
    .box-title {
      width: 100%;
      .title {
        overflow: hidden;
        display: -webkit-box;
        margin: 0;
        color: $white;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .next {
        color: $white;
        text-align: right;
        transition: .5s;
        &:hover {
          padding-right: 10px;
          text-decoration: underline;
        }
      }
    }
    .btn-tech {
      margin-right: 10px;
    }
  }

  &:hover {
    box-shadow: none;

    .box-img img {
      transform: scale(1.2);
    }
    .box-float {
      opacity: 1;
      z-index: 2;
    }
  }
}

// --- contact
.contact {
  position: relative;
  padding: 50px 10% 100px;
  background: $bluelight;

  .title {
    color: $white;
    &:after {
      border-color: $white;
    }
  }

  &-wrap {
    position: relative;
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 20px;
      align-items: center;
      transition: .5s;

      &.email {
        display: flex;
        align-items: center;
        color: $white;
        &:hover {
          color: $main;
        }
        i {
          margin-right: 15px;
        }
      }
      i {
        transition: .5s;
        font-size: 30px;
        color: $white;
        margin: 10px;
      }
      &:hover {
        transform: scale(1.1);
        i {
          color: $main;
        }
      }
    }
  }
}



// --- contact
@media (max-width: 1100px) {
  .project-wrap {
    .card-project {
      width: 42%;
      margin: 20px;
    }
  }
}

@media (max-width: 780px) {
  .home {
    flex-direction: column;
    justify-content: center;

    .box-text, .box-img {
      width: 100%;
    }
    .box-img {
      padding-top: 15%;
      img {
        width: 60%;
      }
    }
  }

  .about {
    padding: 80px 10%;
    
    &-wrap {
      padding: 40px 0;
      flex-direction: column;
      .about-img, .about-text {
        width: 100%;
        padding: 50px 0 0;
      }
    }

    .education, .ability {
      width: 100%;
      padding: 50px 0;
    }

    .education .card-edu .box-text {
      padding-top: 0;
    }

    .neumorphism {
      transform: rotate(-90deg) translate(-0%, -60%);
      font-size: 50vh;
    }
  }

  .project {
    padding: 80px 10%;
  }
}

@media (max-width: 480px) {
  header {
    .toggle {
      position: relative;
      display: block;
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      flex-direction: column;
      justify-content: center;
      &:hover {
        text-decoration: none;
      }

      .line {
        position: relative;
        height: 2px;
        width: 100%;
        background: $main;
        transition: $jelly;

        &:nth-child(2) {
          top: 8px;
          width: 80%;
          margin-left: auto;
        }
      }

      &.active {
        z-index: 2;
        .line {
          background: $white;
          transform: rotate(45deg);
          &:nth-child(2) {
            width: 100%;
            top: -1px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    .menus {
      position: absolute;
      display: flex;
      width: 60%;
      height: 100vh;
      top: 0;
      right: -60%;
      padding: 80px 50px 30px 30px;
      padding-top: 80px;
      transition: $jelly;
      background: $main-op;
      flex-direction: column;
      align-items: flex-end;

      &.open {
        right: -5%;
      }

      a {
        line-height: 2;
        padding: 10px;
        margin: 10px 0;
        color: $white;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-align: right;
      }
    }
  }

  .home {
    padding: 120px 10%;
    .box-img {
      img {
        width: 80%;
      }
    }
  }

  .project-wrap {
    .card-project {
      width: 100%;
      margin: 20px 0;
    }
  }

  .contact {
    &-wrap {
      flex-direction: column;
      .socials {
        margin: 20px 0;
      }
    }
  }
}